# ===============================
# Build and Gradle Files
# ===============================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# ===============================
# IntelliJ IDEA
# ===============================
.idea/
*.iml
*.ipr
*.iws
out/

# ===============================
# Kotlin
# ===============================
*.class
.kotlin/

# ===============================
# Eclipse
# ===============================
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

# ===============================
#  NetBeans
# ===============================
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ===============================
# VSCode
# ===============================
.vscode/

# ===============================
# macOS
# ===============================
.DS_Store

# ===============================
# Logs and temp files
# ===============================
*.log
*.tmp
*.swp
*.swo

# ===============================
# Env and secrets
# ===============================
.env
*.env
